<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Инструмент работы с книгами</title>
  </head>

  <body id="all" data-theme="light">
    <header>
      <script>
        let theme = localStorage.getItem("theme") || "light";
        const allElement = document.getElementById("all");
        function setTheme() {
          const newTheme = theme === "light" ? "dark" : "light";
          theme = newTheme;
          localStorage.setItem("theme", newTheme);
          allElement.setAttribute("data-theme", newTheme);
        }
      </script>
      <span class="header_container">
        <button class="btn-theme" onclick="setTheme()">
          <div class="theme-icon"></div>
        </button>
        <span class="naming">Ваша библиотека</span>
      </span>
    </header>
    <main>
      <form action="/submit" method="GET" class="form">
        <label name="name" class="header"></label>
        <div class="year_container">
          <input
            type="search"
            name="text"
            id=""
            placeholder="Название или автор"
          />
          <select name="ext">
            <option id="any">any</option>
            <option id="pdf">pdf</option>
            <option id="epub">epub</option>
            <option id="txt">txt</option>
            <option id="fb2">fb2</option>
          </select>
        </div>
        <div class="year_container_row">
          <input type="radio" id="True" name="include_fav" value="True" />
          <label for="True">Избранное</label>
          <input
            type="radio"
            id="False"
            name="include_fav"
            value="False"
            checked
          />
          <label for="False">Все</label>
        </div>
        <div class="year_container">
          Год издания
          <input
            type="range"
            value="{{year}}"
            min="1900"
            max="2023"
            step="1"
            name="year"
            id="inputt"
            class="text"
          />
          <output id="value"></output>
          <script>
            const value = document.querySelector("#value");
            const input = document.querySelector("#inputt");
            value.textContent = input.value;
            input.addEventListener("input", (event) => {
              value.textContent = event.target.value;
            });
          </script>
        </div>

        <div class="year_container">
          Дата добавления
          <input
            type="range"
            value="{{add_date}}"
            min="0"
            max="10"
            step="1"
            name="add_date"
            id="add_date"
            class="text"
          />
          <div id="add_date_output">5 дней назад</div>
          <script>
            const value_1 = document.querySelector("#add_date_output");
            const input_1 = document.querySelector("#add_date");
            value_1.textContent = "за " + input_1.value + " дней";
            input_1.addEventListener("input", (event) => {
              value_1.textContent = "за " + event.target.value + " дней";
            });
          </script>
        </div>

        <div class="year_container">
          <input type="hidden" name="page" value="1" />
          Книг на странице
          <select name="books_page">
            <option id="option3">3</option>
            <option id="option4">4</option>
            <option id="option5">5</option>
            <option id="option6">6</option>
            <option id="option7">7</option>
            <option id="option8">8</option>
            <option id="option9">9</option>
            <option id="option10">10</option>
          </select>
        </div>
        <button class="btn_submit" id="btn_submit" type="submit">Поиск</button>
        <script>
          document.addEventListener("DOMContentLoaded", function () {
            const urlParams = new URLSearchParams(window.location.search);
            const books_page = urlParams.get("books_page");
            const option_class = "#option" + books_page;
            const option = document.querySelector(option_class);
            option.selected = true;
          });
        </script>
      </form>
      <div class="content">
        <div class="authors">
          Авторы<br />
          {% if authors%}
          <select placeholder="Список Авторов">
            {% for author in authors %}
            <option id="{{author}}">{{author}}</option>
            {% endfor %}
          </select>
          {% endif %}
        </div>
        <label class="heading">Книги</label>
        <div class="naming">{% if texting%} {{title}} {% endif %}</div>
        <div class="book_container">
          {% for book in my_list %}
          <div class="book">
            <a
              href="/submit?page={{page}}&year=2023&books_page={{books_page}}&add_date=10&text={{name}}&id={{book[0]}}&ext={{book[5]}}&include_fav=False"
            >
              {% if book|length == 10%} {% if book[9] == "True" %}
              <img class="star_icon" src="../static/star.png" />
              {% else %}
              <img class="star_icon" src="../static/empty_star.png" />
              {% endif %} {% else %} {% if book[8] == "True" %}
              <img
                class="star_icon"
                src="{{ url_for('static', filename='star.png') }}"
              />
              {% else %}
              <img
                class="star_icon"
                src="{{ url_for('static', filename='empty_star.png') }}"
              />
              {% endif %} {% endif %}
            </a>

            {% if book|length == 10%}
            <img class="book_img" src="data:image/jpeg;base64,{{book[7]}}" />
            {% else %}
            <img
              class="book_img"
              src="{{ url_for('static', filename='No_Cover.jpg') }}"
            />
            {% endif %}
            <div class="text_bold">
              <a href="/submit?show_text={{book[2]}}&ext={{book[5]}}"
                >{{book[2]}}</a
              >
            </div>
            <div class="text">{{book[3]}}</div>
            <div class="text">{{book[4]}}</div>
            <div class="text">{{book[5]}}</div>
            <a
              class="download"
              href="/download?book_path={{book[1]}}"
              target="_blank"
              >Скачать {% if book|length == 10%} ({{book[8]}}) {% else %}
              ({{book[7]}}) {% endif %}</a
            >
          </div>
          {% endfor %}
        </div>
        <div class="texting">{% if texting%} {{texting}} {% endif %}</div>
        <span class="page_number">
          {% for page in page_n %}
          <a
            href="/submit?page={{page}}&year={{year}}&books_page={{books_page}}&add_date={{add_date}}&text={{name}}&include_fav={{include_fav}}"
            >{{page}}</a
          >
          {% endfor %}
        </span>
      </div>
    </main>
  </body>
</html>
